#root {
  max-width: 90rem;
  background: #fff;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.app{
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
}
.home{
  width: 1440px;
}
/*frame23*/

.nav-frame-23{
  box-sizing: border-box;
  width: 1440px;
  height: 107px;
  border-bottom: 1px solid #4b556357;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-g4{
  width: 1236px;
  height: 25.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  font-family: 'Vollkorn', serif;
  font-size: 34px;
}
.nav-ul{
  display: flex;
  flex-direction: row;
  gap:110px;
}
.nav-ul li{
  list-style-type: none;
}
.nav-ul li a{
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 82.34%;
}
.li-black{
  font-weight: 400;
  color: #000000;
}
.li-violet{
  font-weight: 600;
  color: #831ED2;
}

/*frame24*/
.home-flex{
  height: 614px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame-24{
  width: 1165px;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 126px;
}
.home-group-3{
  display: flex;
  flex-direction: column;
  gap:13px;
}
.home-frame-21{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}
.line-7{
  width: 39.05px;
  height: 0px;
  border: 2px solid #1f1f29;
}
.sangria-h1{
  padding-left: 25px;
}
.home-frame-21 p{
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  opacity: 0.8;
}
.home-group-3 h1{
  width: 553px;
  height: 210px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 125px;
  line-height: 82.34%;
  margin: 0;
  color: #1f1f29;
}
.home-group-4{
  width: 486px;
  height: 215px;
  display: flex;
  flex-direction: column;
  gap:17px;
}
.home-group-4 p{
  width: 510px;
}
.home-group-4 p ,
.contenedor-texto-sm p{
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  opacity: 0.8;
}
/********Proyectos********/
.contenedor-seccion-proyectos{
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedor-title-proy{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 1236px;
  height: 100px;
}
.contenedor-title-proy h2 , 
.contenedor-texto-sm h2 {
  font-family: 'Vollkorn', serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 82.34%;
  color: #231F20;
}
.contenedor-proyectos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  height: 339px;
} 

.contenedor-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 409px;
}

.contenedor-titulo-skills{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: 44px;
}
.contenedor-titulo-skills h3{
  font-family: 'Vollkorn', serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 82.34%;
  margin: 0;
}
.contenedor-titulo-skills p{
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 82.34%;
}
.contenedor-info-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 400px;
  justify-content: space-between;
}
.img-proyecto-size{
  width: 400px;
  transition: .3s;
  opacity: 0.9;
  backdrop-filter: blur(0px);
}
.img-proyecto-size:hover{
  opacity: 1;
    cursor: pointer;
    backdrop-filter: none;
    transform: scale(1.05);
}
.btn-sitio{
  border: 1px solid #565656;
  border-radius: 18px;
  width: 65px;
  height: 26px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-sitio span{
  font-size: 12px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}
.btn-sitio a{
  color: #000;
}
/********Sobre mi*********/
.contenedor-sobremi{
  height: 640px;
  display: flex;
  flex-direction: row;
  padding: 10px 104px;
  align-items: center;
  gap: 60px;
}
.contenedor-texto-sm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 21px;
  width: 586px;
}
.contenedor-texto-sm p{
  width: 583px;
}
.contenedor-img-sm{
  display: flex;
  justify-content: center;
  width: 586px;
}
.contenedor-img-sm img{
  width: 400px;
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
/********Footer********/
.contenedor-footer{
  display: flex;
  padding: 0px 104px;
  border-top: 1px solid #4b556357;
  justify-content: center;
  align-items: center;
  height: 107px;
}
.nav-icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.nav-icon{
  width: 37px;
  height: auto;
}

@media (width <= 428px) {
  
  .home-frame-21 p{
    font-size: 16px;
    line-height: 22px;
  }
  .line-7{
    width: 26.65px;
    border: 2.04719px solid #000000;
  }
  .home-flex{
    justify-content: center;
    align-items: center;
    width: 428px;
  }
  .home-group-3 h1{
    width: 359px;
    height: 132px;
    font-size: 80px;
    margin: 0;
  }
  .home-group-4{
    width: 360px;
  }
  .home-group-4 p{
    font-size: 17.5802px;
    line-height: 24px;
    width: 356px;
  }
  .frame-24 {
    width: 360px;
    flex-direction: column;
    gap:22px;
  }
  .contenedor-seccion-proyectos{
    height: 1230px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .contenedor-proyectos{
    flex-direction: column;
    gap: 50px;
    height: 1072px;
  }
  .li-black{
    display: none;
  }
  .nav-frame-23{
    width: 428px;
  }
  .nav-g4{
    width: 428px;
    justify-content: center;
    align-items: center;
  }
  .contenedor-title-proy{
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    height: 88px;
    width: 384px;
  }
  .contenedor-sobremi{
    padding: 19px;
  }
  .contenedor-img-sm{
    display: none;
  }
  .contenedor-texto-sm p{
    width: 320px;
    font-size: 17.5802px;
  }
  .img-proyecto-size{
    width: 330px;
  }
  .contenedor-info-flex{
    width: 330px;
  }
  .contenedor-card{
    width: 330px;
  }
  .contenedor-titulo-skills h3{
    font-size: 20px;
  }
}